/* Google fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Wildcard to prevent browser from using default*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
}

header {
    margin: 20px;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-align: center;
}

main {
    margin: auto;
}

.container {
    background-color: white;
    width: 325px;
    height: 500px;
}

.welcome {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    padding: 10px 10px;
}

.how-to-play {
    text-align: center;
    padding: 10px;
}

.btn-how-to-play {
    padding: 5px 10px;
    background-color: lightgray;
    font-size: 1rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.get-started {
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.player-name {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 20px;
}

.btn-level-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.level {
    margin: 10px;
    width: 80px;
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    font-weight: bold;

    background-color: lightgray;
}

footer {
    margin-top: auto;
}

#social-media {
    text-align: center;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media li {
    font-size: 20px;
}

#social-media a {
    color: black;
}

.copyright {
    background-color: pink;
    text-align: center;
    letter-spacing: 0.3rem;
}

.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 90vw;
    min-height: 65vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
}

.lightbox__inner {
    position: relative;
    width: 80%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.lightbox__close {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 35px;
    cursor: pointer;
    color: rgba (0, 0, 0, 0.5);
}

.lightbox__close:hover {
    font-weight: 700;
}